@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono&display=swap");

:root {
	--red: #ff003c;
	--gray: #3a3a3a;
	--primary: #fcee0a;
	--primary-less: #dacf0b;
	--secondary: #050505;
	--spacing: 2rem;
}

* {
	box-sizing: border-box;
	font-family: "Roboto Mono", monospace;
	margin: 0;
	padding: 0;
}

#App {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

body,
html {
	background-image: radial-gradient(var(--gray) 20%, transparent 20%),
		radial-gradient(var(--gray) 20%, transparent 20%);
	background-color: var(--primary);
	background-position: 0 0, 50px 50px;
	background-size: 5px 5px;
	color: var(--secondary);
}

.tasklist {
	border: calc(var(--spacing) / 8) solid var(--secondary);
	margin: var(--spacing);
	padding: calc(var(--spacing) / 2);
	background-color: var(--primary);
	margin-top: 0;
	width: 50%;
	box-shadow: 10px 10px;
}

.task {
	padding: calc(var(--spacing) / 4);
	padding-left: 0;
	padding-top: 0;
	margin: calc(var(--spacing) / 2);
	border: calc(var(--spacing) / 16) solid var(--secondary);
}

.task.task-finished .task-title {
	text-decoration-line: line-through;
}

.task.task-finished {
	background-color: var(--primary-less);
}

.task-content {
	display: flex;
	flex-direction: column;
	margin-top: calc(var(--spacing) / 16);
	margin-left: calc(var(--spacing) / 4);
}

.task-date {
	font-size: small;
	color: var(--gray);
}

.task-controller {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.task-controller * {
	font-size: small;
}

.task-counter {
	background-color: var(--secondary);
	color: var(--primary);
	padding: calc(var(--spacing) / 8);
}

.task-counter::before {
	content: "#";
}

.task-modal,
.error-modal {
	border: calc(var(--spacing) / 8) solid var(--secondary);
	padding: calc(var(--spacing) / 2);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--primary);
	z-index: 5000;
	display: flex;
	flex-direction: column;
	text-align: center;
	box-shadow: 10px 10px;
}

.error-modal {
	padding: calc(var(--spacing) / 4);
	background-color: var(--red);
	color: var(--secondary);
	box-shadow: 10px 10px;
}

.error-modal * {
	margin: calc(var(--spacing) / 8);
}

button {
	border: none;
	background-color: var(--secondary);
	color: var(--primary);
	padding: calc(var(--spacing) / 8);
}

button:hover {
	cursor: pointer;
}

input {
	color: var(--secondary);
	padding: calc(var(--spacing) / 8);
	margin: calc(var(--spacing) / 16);
	border: 1px solid var(--secondary);
	background-color: var(--primary);
	outline: none;
}

@media screen and (max-width: 500px) {
	.tasklist {
		width: 80%;
	}
}
